@model IEnumerable<ExamenP1.Models.Persona>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promedio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.esEcuatoriano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrera.NombreCarrera)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promedio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.esEcuatoriano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrera.Campus)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-warning">Edit</button></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-info">Details</button></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
